.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__search {
    flex: 1;
    align-items: center;
    display: flex;
    height: 30px;
}

.header__input input {
    padding: 10px !important;
}

.header__searchButton {
    background-color: lightgray !important;
    height: 38px;
}

.header__logo {
    height: 24px;
    width: 80px;
    object-fit: contain;
}



