.videoCard {
    flex: 0.25;
    min-width: 22%;
    max-height: 250px;
    margin-right: 20px;
    margin-bottom: 60px;
    /*align-content: flex-start;*/
    /*flex-shrink: 0;*/
}
.videoCard__info {
    display: flex;
    margin-top: 12px;
}

.videoCard__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.videoCard__numOfViewsAndPostDate {
    color: #606060;
    font-size: 14px;
}

.videoCard__channelName {
    font-size: 14px;
    color: #606060;
}

.videoCard__infoText {
    flex: 1;
    margin-left: 12px;
}

.videoCard__thumbnail {
    width: 100%;
}
.videoCard__channelImageContainer {
    height: 36px;
    width: 36px;
    overflow: hidden;
    border-radius: 50%;
}

.videoCard__channelImageContainer > img {
    width: 100%;
    border-radius: 50%;
}
